{{template "header.html"  .}}
<!-- 这里是小学生课程,点击查看全部课程跳转,到小学生课程导航页面,导航页面链接名师推荐 -->
<section>
    <div class="weui_cells_title"></div>
        <div class="weui_cells weui_cells_access">

    <a class="weui_cell" href="pupillist.html">
<!--         <div class="weui_cell_hd">
            <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div> -->
        <div class="weui_cell_bd weui_cell_primary">
            <p>小学生课程</p>
        </div>
        <div class="weui_cell_ft">
            查看全部课程
        </div>
    </a>

    </div>
</section>

<section class="">
	<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">资师推荐</div>
    <div class="weui_panel_bd">
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">邓安安</h4>
                <p class="weui_media_desc">下面是我的个人简介,哈哈哈哈哈哈</p>

            </div>
        </a>
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">标题二</h4>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
        </a>
    </div>
    <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
</div>
</section>





<!-- 这里是初中生课程管理,结构合小学生一致,课程初中生课程导航有不同 -->
<section>
    <div class="weui_cells_title"></div>
        <div class="weui_cells weui_cells_access">

    <a class="weui_cell" href="javascript:;">
<!--         <div class="weui_cell_hd">
            <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div> -->
        <div class="weui_cell_bd weui_cell_primary">
            <p>初中生课程</p>
        </div>
        <div class="weui_cell_ft">
            查看全部课程
        </div>
    </a>

    </div>
</section>

<section class="">
    <div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">资师推荐</div>
    <div class="weui_panel_bd">
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">邓安安</h4>
                <p class="weui_media_desc">下面是我的个人简介,哈哈哈哈哈哈</p>

            </div>
        </a>
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">标题二</h4>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
        </a>
    </div>
    <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
</div>
</section>




<!-- 这里是高中生课程,结构与上一致,  提示注意课程变更 -->
<section>
    <div class="weui_cells_title"></div>
        <div class="weui_cells weui_cells_access">

    <a class="weui_cell" href="javascript:;">
<!--         <div class="weui_cell_hd">
            <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div> -->
        <div class="weui_cell_bd weui_cell_primary">
            <p>高中生课程</p>
        </div>
        <div class="weui_cell_ft">
            查看全部课程
        </div>
    </a>

    </div>
</section>

<section class="">
    <div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">资师推荐</div>
    <div class="weui_panel_bd">
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">邓安安</h4>
                <p class="weui_media_desc">下面是我的个人简介,哈哈哈哈哈哈</p>

            </div>
        </a>
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="" alt="">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">标题二</h4>
                <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
        </a>
    </div>
    <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
</div>
</section>
{{ template "footer.html"  .}}