{{template "header.html"  .}}
<section>
	<div class="weui_cells_title">高中生科目表</div>
<div class="weui_cells weui_cells_access">

    <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
            <i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>语文</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
    <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>数学</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
        <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
<!--             <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>英语</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>

    <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
            <i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>生物</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
    <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>物理</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
        <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
<!--             <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>化学</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
        <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>政治</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
        <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>音乐</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>
    <a class="weui_cell" href="#">
        <div class="weui_cell_hd">
        	<i class="weui_icon_info"></i>
            <!-- <img src="" alt="icon" style="width:20px;margin-right:5px;display:block"> -->
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>课外拓展</p>
        </div>
        <div class="weui_cell_ft">
            查看推荐教师
        </div>
    </a>

</div>
</section>
{{ template "footer.html"  .}}